body {
  background: repeating-linear-gradient(45deg, #e0e0e0 0, #e0e0e0 5%, #fbfbfb 0, #fbfbfb 50%) 0/10px 10px; }

.container--sm {
  max-width: 600px; }

.social {
  max-width: 400px;
  margin: 20px auto; }
  .social > address {
    text-align: center; }

.section-margin {
  margin: 30px 0; }

.hiddenSchema {
  display: none; }

.full-width {
  width: 100%; }

.hr {
  border-color: #999999;
  border-style: solid;
  border-width: 1px 0;
  margin-top: 0.333rem;
  margin-bottom: 0.333rem; }
  .hr.hr--sm {
    width: 22px; }

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start; }

h1.presenter-title {
  text-align: center;
  color: #fefefe;
  margin: 0;
  font-size: 3em;
  transition-property: font-size;
  transition-duration: 0.2s;
  transition-timing-function: ease; }
  h1.presenter-title.presenter-title-short {
    font-size: 4.5em; }
    @media (min-width: 800px) {
      h1.presenter-title.presenter-title-short {
        font-size: 6em; } }
    @media (min-width: 1100px) {
      h1.presenter-title.presenter-title-short {
        font-size: 7em; } }
  h1.presenter-title.presenter-title-medium {
    font-size: 3em; }
    @media (min-width: 800px) {
      h1.presenter-title.presenter-title-medium {
        font-size: 4em; } }
    @media (min-width: 1100px) {
      h1.presenter-title.presenter-title-medium {
        font-size: 5em; } }
  h1.presenter-title.presenter-title-long {
    font-size: 1.75em; }
    @media (min-width: 800px) {
      h1.presenter-title.presenter-title-long {
        font-size: 2.25em; } }
    @media (min-width: 1100px) {
      h1.presenter-title.presenter-title-long {
        font-size: 3em; } }

h3 .fa,
h4 .fa {
  margin-right: 8px; }

.article h2 {
  margin-top: 38px; }
  .article h2.article-title {
    margin: 0; }

.article h3 {
  margin-top: 32px; }

.about h2,
.about h3,
.about h4 {
  text-align: center; }

.about h2 {
  font-size: 2.75rem;
  margin-bottom: 0; }

.about h3 {
  font-size: 1.75rem;
  margin-bottom: 26px; }

.about h4 {
  font-size: 1.375rem; }

.portfolio h2 {
  text-align: center;
  line-height: 80px;
  position: relative;
  font-size: 1.6rem; }

.portfolio h3 {
  font-size: 1.4rem; }

a:active, a:focus, a:hover {
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease; }

.btn-primary {
  border: 0; }
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #a1de7e; }
  .btn-primary.btn-primary-margin {
    margin-top: 10px; }
  .btn-primary.btn-primary--lg {
    width: 100%; }
  .btn-primary.btn-primary-codepen, .btn-primary.btn-primary-github {
    margin-top: 10px;
    width: 100%; }
    @media (min-width: 600px) {
      .btn-primary.btn-primary-codepen, .btn-primary.btn-primary-github {
        width: 50%; } }
  .btn-primary.btn-primary-github {
    background-color: #999999; }
    .btn-primary.btn-primary-github:active, .btn-primary.btn-primary-github:focus, .btn-primary.btn-primary-github:hover {
      background-color: #b3b3b3; }
    @media (min-width: 600px) {
      .btn-primary.btn-primary-github {
        float: left; } }
  .btn-primary.btn-primary-codepen {
    background-color: #3a3a3a; }
    .btn-primary.btn-primary-codepen:active, .btn-primary.btn-primary-codepen:focus, .btn-primary.btn-primary-codepen:hover {
      background-color: #545454; }
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    color: #fefefe; }
  .btn-primary .fa {
    margin-right: 4px; }

.navbar-wrapper {
  margin-bottom: 45px; }
  .navbar-wrapper .navbar {
    background-color: #83d356;
    padding: 0; }
    .navbar-wrapper .navbar .navbar-brand,
    .navbar-wrapper .navbar .navbar-toggler {
      color: #fbfbfb; }
      .navbar-wrapper .navbar .navbar-brand:active, .navbar-wrapper .navbar .navbar-brand:focus, .navbar-wrapper .navbar .navbar-brand:hover,
      .navbar-wrapper .navbar .navbar-toggler:active,
      .navbar-wrapper .navbar .navbar-toggler:focus,
      .navbar-wrapper .navbar .navbar-toggler:hover {
        color: #fefefe; }
    .navbar-wrapper .navbar .navbar-toggler {
      padding: 10px 0 10px 10px;
      float: right;
      width: 45px; }
    .navbar-wrapper .navbar .navbar-nav {
      clear: both; }
      @media (min-width: 600px) {
        .navbar-wrapper .navbar .navbar-nav {
          clear: none;
          float: right; } }
      .navbar-wrapper .navbar .navbar-nav .nav-item {
        font-size: 17px;
        margin-left: 0;
        position: relative; }
        .navbar-wrapper .navbar .navbar-nav .nav-item.active .nav-link {
          color: #fefefe;
          background-color: #68a844; }
        .navbar-wrapper .navbar .navbar-nav .nav-item .nav-link {
          color: #fbfbfb;
          padding: 11px 1rem;
          margin-left: -1rem;
          margin-right: -1rem; }
          @media (min-width: 600px) {
            .navbar-wrapper .navbar .navbar-nav .nav-item .nav-link {
              margin: 0;
              padding-left: 1rem;
              padding-right: 1rem; } }
          .navbar-wrapper .navbar .navbar-nav .nav-item .nav-link:active, .navbar-wrapper .navbar .navbar-nav .nav-item .nav-link:focus, .navbar-wrapper .navbar .navbar-nav .nav-item .nav-link:hover {
            color: #fefefe;
            background-color: #68a844; }

.presenter {
  background-color: #83d356;
  width: 100%;
  min-height: 50vh;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 16px; }
  .presenter .presenter-icon {
    color: #68a844;
    font-size: calc(200px + 10vw);
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .presenter .presenter-content {
    width: 100%;
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative; }
    .presenter .presenter-content .presenter-meta {
      text-align: center;
      color: #fefefe;
      margin: 0.5rem 0; }
      .presenter .presenter-content .presenter-meta > span {
        padding-left: 5px;
        padding-right: 5px; }
        .presenter .presenter-content .presenter-meta > span a {
          color: #fefefe; }
    .presenter .presenter-content .presenter-tags {
      text-align: center; }

footer {
  background-color: #3a3a3a;
  padding: 18px 0 16px;
  margin-top: 10px; }
  footer .footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative; }
    footer .footer-wrapper .footer-list {
      padding: 0;
      margin: 0;
      list-style: none; }
      footer .footer-wrapper .footer-list.footer-list-bottom {
        position: absolute;
        bottom: 0;
        right: 0; }
      footer .footer-wrapper .footer-list li a {
        color: #fbfbfb; }
        footer .footer-wrapper .footer-list li a:active, footer .footer-wrapper .footer-list li a:focus, footer .footer-wrapper .footer-list li a:hover {
          color: #fefefe; }

.article {
  margin-bottom: 30px;
  background-color: #fefefe;
  padding: 15px; }
  @media (min-width: 800px) {
    .article {
      padding: 20px; } }
  .article.article-full {
    padding-top: 30px; }
  .article .article-header .article-tags {
    margin: 10px 0; }

ol,
ul {
  list-style-type: square; }

p + ul {
  margin-top: -1rem; }

pre {
  background-color: #3a3a3a;
  color: #fefefe;
  padding: 15px;
  display: block;
  overflow-x: auto; }
  @media (min-width: 800px) {
    pre {
      padding: 20px; } }

.hljs-attr,
.hljs-attribute {
  color: #fefefe; }

.hljs-comment {
  color: #999999; }

.hljs-subst,
.hljs-template-tag {
  color: #e0e0e0; }

.hljs-keyword,
.hljs-name,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-tag,
.hljs-tag .hljs-keyword,
.hljs-type {
  color: #83d356; }

.hljs-addition,
.hljs-meta,
.hljs-quote {
  color: #68a844; }

.hljs-number,
.hljs-template-variable,
.hljs-variable {
  color: #9bc7e9; }

.hljs-literal,
.hljs-title {
  color: #fff174; }

.hljs-built_in,
.hljs-builtin-name,
.hljs-bullet,
.hljs-deletion,
.hljs-link,
.hljs-string,
.hljs-symbol {
  color: #EB5E55; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

/*.breadcrumb {
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 10px;
    background-color: transparent;

    .breadcrumb-item {
        float: none;
        display: inline-block;
        padding-left: 2px;
        padding-right: 2px;

        a {
            color: $white;
        }
    }
}*/
.comments {
  margin-bottom: 20px; }
  .comments p {
    margin-bottom: 0;
    text-align: center; }

.pagination {
  display: flex;
  justify-content: center; }
  .pagination .page-item {
    margin-left: 2px;
    margin-right: 2px; }
    .pagination .page-item .page-link {
      border: 0;
      padding: 6px 15px; }

.tag {
  padding: 5px 10px;
  display: inline;
  background-color: #83d356;
  border: 0;
  font-weight: normal; }
  .tag.tag-dark {
    background-color: #68a844; }
  .tag:active, .tag:focus, .tag:hover {
    border: 0;
    color: #fefefe;
    background-color: #a1de7e; }

.project {
  min-width: 280px;
  width: 25%;
  margin-bottom: 32px;
  padding-left: 8px;
  padding-right: 8px; }
  .project ul li .fa {
    margin-left: 6px; }

.about .about-section {
  margin-bottom: 52px; }

.about .about-skills .skill-section {
  margin-bottom: 42px; }
  .about .about-skills .skill-section .skill {
    min-width: 175px;
    width: 33.333%;
    margin-bottom: 32px;
    padding-left: 8px;
    padding-right: 8px; }
    @media (min-width: 600px) {
      .about .about-skills .skill-section .skill {
        margin-bottom: 8px; } }
    .about .about-skills .skill-section .skill ul {
      text-align: center;
      padding: 0;
      list-style: none; }

.about .about-experience ul {
  padding: 0;
  margin-top: 42px; }

.portfolio .portfolio-category {
  background-size: cover; }
  .portfolio .portfolio-category .arrow-wrapper {
    height: 15px;
    background-color: #fbfbfb;
    margin-bottom: 150px; }
    .portfolio .portfolio-category .arrow-wrapper .arrow {
      width: 0;
      height: 0;
      border-left: 150px solid transparent;
      border-right: 150px solid transparent;
      border-top: 150px solid #fbfbfb;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  .portfolio .portfolio-category .portfolio-items {
    padding-top: 20px;
    padding-bottom: 20px; }
    .portfolio .portfolio-category .portfolio-items .portfolio-item {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto; }
      .portfolio .portfolio-category .portfolio-items .portfolio-item .portfolio-img,
      .portfolio .portfolio-category .portfolio-items .portfolio-item .portfolio-text {
        min-height: 200px; }
      .portfolio .portfolio-category .portfolio-items .portfolio-item .portfolio-text {
        width: 100%;
        background-color: #fbfbfb;
        height: 100%;
        padding: 20px; }
      .portfolio .portfolio-category .portfolio-items .portfolio-item .portfolio-img {
        overflow: hidden;
        width: 100%;
        border: 3px solid #fbfbfb; }
    @media (min-width: 800px) {
      .portfolio .portfolio-category .portfolio-items .portfolio-item {
        max-width: 100%; }
        .portfolio .portfolio-category .portfolio-items .portfolio-item .portfolio-text {
          width: calc(100% - 330px); }
        .portfolio .portfolio-category .portfolio-items .portfolio-item .portfolio-img {
          width: 300px;
          max-height: 200px; } }
  @media (min-width: 800px) {
    .portfolio .portfolio-category:nth-child(2n+1) .portfolio-items .portfolio-item {
      flex-direction: row; }
      .portfolio .portfolio-category:nth-child(2n+1) .portfolio-items .portfolio-item:nth-child(2n+2) {
        flex-direction: row-reverse; }
    .portfolio .portfolio-category:nth-child(2n+2) .portfolio-items .portfolio-item {
      flex-direction: row-reverse; }
      .portfolio .portfolio-category:nth-child(2n+2) .portfolio-items .portfolio-item:nth-child(2n+2) {
        flex-direction: row; } }

.error {
  padding: 20px;
  background-color: #fbfbfb;
  max-width: 300px;
  margin: 80px auto; }
  .error h1,
  .error p {
    text-align: center; }
  .error .btn-primary {
    display: block;
    max-width: 160px;
    margin: auto; }
