@use "sass:color";

//
// Color system
//
// See https://coolors.co/222222-c95497-fcba04-45bac4
//

$-black: #222222;
$-pink: #c95497; // Primary
$-yellow: #fcba04;
$-cyan: #45bac4;

//
// Sizes
//

$breakpoint-sm: 660px;
$breakpoint-md: 920px;
$breakpoint-lg: 1140px;

$border-radius: 6px;
$border-width: 2px;

//
// Typography
//

// https://github.com/system-fonts/modern-font-stacks#classical-humanist
$font-family-sans: "Noto Sans", Optima, Candara, source-sans-pro, sans-serif;
// https://github.com/system-fonts/modern-font-stacks#transitional
$font-family-serif:
	"Noto Serif", Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
// https://github.com/system-fonts/modern-font-stacks#monospace-code
$font-family-monospace:
	ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
	"DejaVu Sans Mono", monospace;

$font-size-base: 18px;

// From https://utopia.fyi/type/calculator/?c=340,16,1.25,1140,16,1.25,7,1,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12
$font-size-step--1: 0.9rem; // Should be 0.8 but that is too small
$font-size-step-0: 1rem;
$font-size-step-1: 1.25rem;
$font-size-step-2: 1.5625rem;
$font-size-step-3: 1.9531rem;
$font-size-step-4: 2.4414rem;
$font-size-step-5: 3.0518rem;
$font-size-step-6: 3.8147rem;
$font-size-step-7: 4.7684rem;

//
// Themes
//

@mixin custom-properties-base {
	--black: #{$-black};

	--gray-900: #{color.adjust($-black, $lightness: 10%)};
	--gray-800: #{color.adjust($-black, $lightness: 20%)};
	--gray-700: #{color.adjust($-black, $lightness: 30%)};
	--gray-600: #{color.adjust($-black, $lightness: 40%)};
	--gray-500: #{color.adjust($-black, $lightness: 50%)};
	--gray-400: #{color.adjust($-black, $lightness: 60%)};
	--gray-300: #{color.adjust($-black, $lightness: 70%)};
	--gray-200: #{color.adjust($-black, $lightness: 80%)};
	--gray-100: #{color.adjust($-black, $lightness: 90%)};

	--pink-900: #{color.adjust($-pink, $lightness: -40%)};
	--pink-800: #{color.adjust($-pink, $lightness: -30%)};
	--pink-700: #{color.adjust($-pink, $lightness: -20%)};
	--pink-600: #{color.adjust($-pink, $lightness: -10%)};
	--pink-500: #{$-pink};
	--pink-400: #{color.adjust($-pink, $lightness: 10%)};
	--pink-300: #{color.adjust($-pink, $lightness: 20%)};
	--pink-200: #{color.adjust($-pink, $lightness: 30%)};
	--pink-100: #{color.adjust($-pink, $lightness: 40%)};

	--yellow-500: #{$-yellow};
}

@mixin custom-properties-theme-light {
	--background: var(--gray-100);
	--background-contrast: var(--gray-100);

	--text: var(--gray-900);
	--text-muted: var(--gray-800);
	--text-muted-high: var(--gray-300);
	--text-contrast: var(--gray-200);
	--text-contrast-high: var(--gray-100);

	--primary-contrast-alt: var(--pink-700);
	--primary: var(--pink-600);
	--primary-contrast: var(--pink-500);
}

@mixin custom-properties-theme-dark {
	--background: var(--black);
	--background-contrast: var(--gray-900);

	--text: var(--gray-100);
	--text-muted: var(--gray-300);
	--text-muted-high: var(--gray-600);
	--text-contrast: var(--gray-900);
	--text-contrast-high: var(--black);

	--primary-contrast-alt: var(--pink-300);
	--primary: var(--pink-400);
	--primary-contrast: var(--pink-500);
}

@mixin custom-properties-theme-print {
	--background: transparent;
	--background-contrast: var(--gray-100);

	--text: var(--gray-900);
	--text-muted: var(--gray-700);
	--text-muted-high: var(--gray-300);
	--text-contrast: var(--gray-100);
	--text-contrast-high: var(--gray-100);

	--primary-contrast-alt: var(--gray-500);
	--primary: var(--gray-700);
	--primary-contrast: var(--gray-800);
}
