article {
    background-color: @white;
    margin-bottom: 30px;
    padding: 20px;
    .article-header {
        .article-title {
            margin-top: 0;
            margin-bottom: 8px;
        }
        .article-tags {
            float: right;
        }
    }
}
