pre {
    margin: 10px auto 20px;
    padding: 20px;
}

.hljs {
    display: block;
    overflow-x: auto;
    background: @gray-dark;
    color: @white;
}

.hljs-number,
.hljs-literal,
.hljs-symbol,
.hljs-bullet {
  color: @brand-info;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-deletion {
  color:  @brand-primary;
}

.hljs-variable,
.hljs-template-variable,
.hljs-link {
  color: @brand-warning;
}

.hljs-comment,
.hljs-quote {
  color: @gray-light;
}

.hljs-string,
.hljs-meta {
  color:  @brand-warning;
}


.hljs-attribute,
.hljs-addition {
  color: @brand-primary;
}

.hljs-section,
.hljs-title,
.hljs-type {
  color: @brand-primary;
}

.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: @brand-info;
}
