pre {
    margin: 10px auto 20px;
    padding: 20px;
    overflow-x: auto;
    border: 0;
}
.hljs {
    display: block;
    overflow-x: auto;
}
.hljs-bullet,
.hljs-literal,
.hljs-number,
.hljs-symbol {
    color: @brand-info;
}
.hljs-deletion,
.hljs-keyword,
.hljs-selector-tag {
    color: @brand-primary;
}
.hljs-link,
.hljs-template-variable,
.hljs-variable {
    color: @brand-warning;
}
.hljs-comment,
.hljs-quote {
    color: @gray-light;
}
.hljs-meta,
.hljs-string {
    color: @brand-warning;
}
.hljs-addition,
.hljs-attribute {
    color: @brand-primary;
}
.hljs-section,
.hljs-title,
.hljs-type {
    color: @brand-primary;
}
.hljs-name,
.hljs-selector-class,
.hljs-selector-id {
    color: @brand-info;
}
