.portfolio {
    margin-top: 0;
    section {
        background-size: cover;
        .arrow-wrapper {
            width: 100%;
            height: 15px;
            background-color: @gray-lightest;
            position: relative;
            margin-bottom: 150px;
            h2 {
                color: @gray-dark;
                text-align: center;
                font-family: @font-family-serif;
                margin: 0;
                line-height: 80px;
                position: relative;
            }
            .arrow {
                width: 0;
                height: 0;
                border-left: 150px solid transparent;
                border-right: 150px solid transparent;
                border-top: 150px solid @gray-lightest;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .items {
            padding-top: 35px;
            padding-bottom: 35px;
            .item {
                margin-bottom: 35px;
                > div {
                position: relative;
                    .text-box {
                        background-color: @gray-lightest;
                        height: 100%;
                        padding: 0 20px;
                        float: right;
                        .arrow(15px, @gray-lightest, left, 50%, 0, @gray);
                        .screen-md-min({
                          min-width: 300px;
                          width:95%;
                        });

                    }
                    img {
                        border: 3px solid @gray-lightest;
                    }
                }
            }
        }
    }
}
