
@font-face {
  font-family: 'MuseoSlab';
  font-weight: 400;
  src        : url('../fonts/MuseoSlab.ttf?') format('truetype');
}


//Variables
@import "variables.less";
//Mixins
@import "mixins/responsive.less";
@import "mixins/arrow.less";
//Main Files
@import "main/general.less";
@import "main/typo.less";
//@import "main/forms.less";
@import "main/links.less";
//Blocks
@import "blocks/nav.less";
@import "blocks/footer.less";
@import "blocks/breadcrumbs.less";
@import "blocks/articles.less";
@import "blocks/code.less";
@import "blocks/form.less";
@import "blocks/comments.less";
@import "blocks/social.less";
@import "blocks/portfolio.less";
