<div class="comments">
    <p>Comments? Suggestions? Feedback?</p>
    <p>Message me at
        <a href="mailto:contact@f-rilling.com?Subject=Comment:{{page.title|escape('url')}}">contact@f-rilling.com</a>
    </p>
</div>
