<div class="social">

    <address>Contact me at
        <a href="mailto:contact@f-rilling.com" title="Contact E-Mail">contact&#64;f-rilling.com</a>
    </address>

    {% if header.title == 'Portfolio' %}
        <a href="{{url(" about")}}" target="_blank" title="About Felix Rilling" class="btn btn-primary col-xs-12">
            <i class="fa fa-rocket"></i>
            About Me</a>
    {% else %}
        <a href="{{url(" portfolio")}}" target="_blank" title="Felix Rilling Portfolio" class="btn btn-primary btn-primary--lg">
            <i class="fa fa-diamond"></i>
            My Portfolio</a>
    {% endif %}

    <a href="https://github.com/FelixRilling/" target="_blank" title="Felix Rilling Github" class="btn btn-primary btn-primary-github">
        <i class="fa fa-github"></i>
        Me on GitHub</a>

    <a href="http://codepen.io/FelixRilling/" target="_blank" title="Felix Rilling CodePen" class="btn btn-primary btn-primary-codepen">
        <i class="fa fa-codepen"></i>
        Me on CodePen</a>

</div>
