<div class="social">

    <address>Contact me at
        <a href="mailto:contact@f-rilling.com" title="Contact E-Mail">contact&#64;f-rilling.com</a>
    </address>

    {% if header.title == 'Portfolio' %}
        <a href="{{url('about', true)}}" target="_blank" title="About Felix Rilling" class="btn btn-primary btn-primary--lg">
            <span class="fal fa-rocket"><!--icon--></span>
            About Me
        </a>
    {% else %}
        <a href="{{url('portfolio', true)}}" target="_blank" title="Felix Rilling Portfolio" class="btn btn-primary btn-primary--lg">
            <span class="fal fa-gem"><!--icon--></span>
            My Portfolio
        </a>
    {% endif %}
    <div class="btn-social-container">
        <a href="https://twitter.com/FelixRilling" target="_blank" title="Felix Rilling on Twitter" class="btn btn-social btn-social-twitter">
            <span class="fab fa-twitter"><!--icon--></span>
            Twitter
        </a>
        <a href="https://github.com/FelixRilling/" target="_blank" title="Felix Rilling on Github" class="btn btn-social btn-social-github">
            <span class="fab fa-github"><!--icon--></span>
            GitHub
        </a>
        <a href="http://codepen.io/FelixRilling/" target="_blank" title="Felix Rilling on CodePen" class="btn btn-social btn-social-codepen">
            <span class="fab fa-codepen"><!--icon--></span>
            CodePen
        </a>
    </div>
</div>
