{% for tag in tags %}
    <a class="badge {{dark ? 'badge-primary' : 'badge-default'}}" title="Show all articles with tag {{tag}}" href="{{url(page.blog ~ '/tag' ~ config.system.param_sep ~ tag, true)}}">{{tag}}</a>
{% endfor %}

