<div class="social">
    <p id="contact">Contact me at
        <a href="mailto:contact@f-rilling.com" alt="Contact E-Mail">contact@f-rilling.com</a>
    </p>
    <div class="row btn-group">
        <a href="http://portfolio.f-rilling.com/" target="_blank" alt="Portfolio" class="btn btn-primary col-xs-12 col-sm-12 col-md-12">
            <i class="fa fa-diamond"></i>
            My Portfolio</a>
        <a href="https://github.com/TheBinaryBee/" target="_blank" alt="Github" class="btn btn-primary col-xs-12 col-sm-12 col-md-6">
            <i class="fa fa-github"></i>
            Me on GitHub</a>
        <a href="http://codepen.io/NobodyRocks/" target="_blank" alt="CodePen" class="btn btn-primary col-xs-12 col-sm-12 col-md-6">
            <i class="fa fa-codepen"></i>
            Me on CodePen</a>
    </div>
</div>
