body {
    background: repeating-linear-gradient( 45deg, $gray-lighter 0, $gray-lighter 5%, $gray-lightest 0, $gray-lightest 50% ) 0 / 10px 10px;
}

.social {
    max-width: 400px;
    margin: 20px auto;

    > address {
        text-align: center;
    }
}

.section-margin {
    margin: 30px 0;
}

.hiddenSchema {
    display: none;
}

.full-width {
    width: 100%;
}
