body {
    background: repeating-linear-gradient( 45deg, $gray-lighter 0, $gray-lighter 5%, $gray-lightest 0, $gray-lightest 50%) 0 / 10px 10px;
}

.container {
    width: 100%;
    padding-left: $grid-gutter-width-base/2;
    padding-right: $grid-gutter-width-base/2;
    max-width: map-get($container-max-widths,xl);
    margin-right: auto;
    margin-left: auto;
}

.container--sm {
    max-width: 680px;
}

.social {
    max-width: 400px;
    margin: 20px auto;
    >address {
        text-align: center;
    }
}

.section-margin {
    margin: 30px 0;
}

.hiddenSchema {
    display: none;
}

.full-width {
    width: 100%;
}

.hr {
    border-color: $gray-light;
    border-style: solid;
    border-width: 1px 0;
    margin-top: 0.333rem;
    margin-bottom: 0.333rem;
    &.hr--sm {
        width: 22px;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
