body {
    background: repeating-linear-gradient( 45deg, $gray-lighter 0, $gray-lighter 5%, $gray-lightest 0, $gray-lightest 50%) 0 / 10px 10px;
}

.container {
    width: 100%;
    padding-left: $grid-gutter-width-base/2;
    padding-right: $grid-gutter-width-base/2;
    max-width: map-get($container-max-widths, xl);
    margin-right: auto;
    margin-left: auto;
}

.container--sm {
    max-width: 680px;
}

.section-margin {
    margin: 30px 0;
}

.full-width {
    width: 100%;
    height: auto;
}

.social {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hr {
    margin-top: 0.333rem;
    margin-bottom: 0.333rem;
    &.hr--sm {
        width: 22px;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.arrow-wrapper {
    height: 10px;
    background-color: $gray-lightest;
    margin-bottom: 150px;
    .arrow {
        width: 0;
        height: 0;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        border-top: 150px solid $gray-lightest;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
