a {
    @include hover-focus-active {
         @include transition(#{"color, background-color"});
    };

    &.btn-primary {
        @include hover-focus-active {
            color: $white;
        };
    }

    &.tag {
        padding: 5px 10px;
        display: inline;
        background-color: $brand-primary;
        color: $gray-lightest;

        &.tag-gray {
            background-color: $gray;
        }
        @include hover-focus-active {
            color: $white;
            background-color: $brand-primary-dark;
        };
    }
}
