.btn {
    &.btn-primary {
        @include hover-focus-active {
            background-color: $brand-primary-dark;
            color:$white;
            box-shadow:none;
        }
    }
    &.btn-primary-margin {
        margin-top: 10px;
    }
    &.btn-primary--lg {
        width: 100%;
    }
    &.btn-codepen,
    &.btn-github {
        margin-top: 10px;
        width: 100%;
        @include screen(min, sm) {
            width: 50%;
        }
    }
    &.btn-github {
        background-color: $gray-light;
        @include hover-focus-active {
            background-color: lighten($gray-light, 8%);
        }
    }
    &.btn-codepen {
        background-color: $gray-dark;
        @include hover-focus-active {
            background-color: lighten($gray-dark, 8%);
        }
    }
    .fa {
        margin-right: 4px;
    }
}

.badge {
    @include hover-focus-active {
        @include transition("background-color,color")
    }
    &.badge-default {
        @include hover-focus-active {
            background-color: $brand-primary-dark;
        }
    }
}
