h1 {
    &.presenter-title {
        text-align: center;
        color: $white;
        margin: 0;
        font-size: 3em;

        &.presenter-title-short {
            font-size: 4.5em;
            @include screen(min,md) {
                font-size: 6em;
            }
            @include screen(min,lg) {
                font-size: 7em;
            }
        }

        &.presenter-title-medium {
            font-size: 3em;
            @include screen(min,md) {
                font-size: 4em;
            }
            @include screen(min,lg) {
                font-size: 5em;
            }
        }

        &.presenter-title-long {
            font-size: 1.75em;
            @include screen(min,md) {
                font-size: 2.25em;
            }
            @include screen(min,lg) {
                font-size: 3em;
            }
        }
    }
}

.article {
    h2 {
        margin-top: 38px;

        &.article-title {
            margin: 0;
        }
    }

    h3 {
        margin-top: 32px;
    }
}

.about {
    h2,
    h3,
    h4 {
        text-align: center;
    }

    h2 {
        font-size: 2.75rem;
    }

    h3 {
        font-size: 1.75rem;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 1.375rem;
    }
}

.portfolio {
    h2 {
        text-align: center;
        line-height: 80px;
        position: relative;
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }
}
