.presenter-title {
    text-align: center;
    max-width: 650px;
    color: $white;
    margin: 0;
    font-size: 2.75em;
}

.presenter-title-short {
    font-size: 2.75em;
}

.presenter-title-medium {
    font-size: 2.5em;
}

.presenter-title-long {
    font-size: 1.5em;
}

.about-main {
    h2 {
        font-size: 3em;
    }
    h3 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
    }
}

@include screen(min, sm) {
    .presenter-title-short {
        font-size: 3.5em;
    }
    .presenter-title-medium {
        font-size: 3em;
    }
    .presenter-title-long {
        font-size: 1.75em;
    }
}

@include screen(min, md) {
    .presenter-title-short {
        font-size: 5.75em;
    }
    .presenter-title-medium {
        font-size: 4em;
    }
    .presenter-title-long {
        font-size: 2.25em;
    }
}

@include screen(min, lg) {
    .presenter-title-short {
        font-size: 6.25em;
    }
    .presenter-title-medium {
        font-size: 5em;
    }
    .presenter-title-long {
        font-size: 3em;
    }
}

h3,
h4 {
    .fa {
        margin-right: 8px;
    }
}
