{% set crumbs = breadcrumbs.get() %}
{% set breadcrumbs_config = config.plugins.breadcrumbs %}
{% set divider = breadcrumbs_config.icon_divider_classes %}

{% if crumbs | length > 1 or breadcrumbs_config.show_all %}
    <ol class="breadcrumb">
        {% for crumb in crumbs %}
            {% if not loop.last %}
                <li class="breadcrumb-item">
                    <a href="{{ crumb.url }}" itemprop="url">
                        {{ crumb.menu }}
                    </a>
                </li>
            {% else %}
                <li class="breadcrumb-item active">
                    {{ crumb.menu }}
                </li>
            {% endif %}

        {% endfor %}
    </ol>
{% endif %}
