<div class="cookienotice">
    <div class="container">
        <div class="cookienotice-content">
            <p>This website uses cookies. <a target="_blank" href="{{url('cookies')}}" alt="Learn more about how this site uses Cookies">learn more.</a></p>
            <p><a id="cookienoticeAccept" href="javascript:;">I Agree</a></p>
        </div>
    </div>
</div>