<div class="presenter-content">
    {% if page.header.icon %}
        <i class="presenter-icon fa fa-{{page.header.icon}}" aria-hidden="true"></i>
    {% endif %}
    <h1 class="presenter-title" itemprop="name">{{page.title}}</h1>

    {% if page.template == "item" %}
        {% if page.date %}
            <p class="presenter-date" itemprop="datePublished">
                {% include 'modular/date.html.twig' with {'date': page.date} %}
            </p>
        {% endif %}
        {% if page.taxonomy.tag %}
            <p class="presenter-tags" itemprop="keywords">
                {% include 'modular/tags.html.twig' with {'tags': page.taxonomy.tag, 'gray':true} %}
            </p>
        {% endif %}
    {% endif %}
</div>
