<div class="meta <%= presenter ? 'meta-presenter' : '' %>">
    <span class="meta-date meta-date-published">Published: <%- partial('date', { datetime: post.date}) %></span>
    <span class="meta-date meta-date-updated">Updated: <%- partial('date', { datetime: post.updated}) %></span>
</div>
