<% if(page.total > 1){ %>
    <nav aria-label="Page navigation" class="pagination">
        <%- paginator({
            prev_text: "« Newer Articles",
            next_text: "Previous Articles »"
        }) %>
    </nav>
<% } %>
