<div class="social">

    <a href="https://github.com/FelixRilling/" target="_blank" title="Felix Rilling on Github"
       class="btn btn--primary btn--social--github">
        <%- partial("_partial/component/icon-new", { style: "brands", icon: "github" }); _%>
        GitHub
    </a>

    <a href="https://codepen.io/FelixRilling/" target="_blank" title="Felix Rilling on CodePen"
       class="btn btn--primary btn-social--codepen">
        <%- partial("_partial/component/icon-new", { style: "brands", icon: "codepen" }); _%>
        CodePen
    </a>

</div>
