<div class="social">

    <a href="https://github.com/FelixRilling/" target="_blank"
       class="btn btn--social--github">
        <%- partial("_partial/component/icon", { style: "brands", icon: "github" }); _%>
        <span>Me on GitHub</span>
    </a>

    <a href="https://codepen.io/FelixRilling/" target="_blank"
       class="btn btn--social--codepen">
        <%- partial("_partial/component/icon", { style: "brands", icon: "codepen" }); _%>
        <span>Me on CodePen</span>
    </a>

</div>
