<div class="social">

    <a href="<%- theme.social.github; %>" target="_blank" rel="noreferrer"
       class="btn btn--social--github">
        <%- partial("_partial/component/icon", { style: "brands", icon: "github" }); _%>
        <span>Me on GitHub</span>
    </a>

    <a href="<%- theme.social.codepen; %>" target="_blank" rel="noreferrer"
       class="btn btn--social--codepen">
        <%- partial("_partial/component/icon", { style: "brands", icon: "codepen" }); _%>
        <span>Me on CodePen</span>
    </a>

</div>
