@use "../variables" as variables;

/* Base styles, based on https://github.com/twbs/bootstrap/blob/main/scss/_reboot.scss */

// Body

body {
	font-family: variables.$font-family-serif;
	font-size: variables.$font-size-base;
	line-height: 1.6;
	color: var(--text);

	background-color: var(--background);

	accent-color: var(--primary);
}

// General display improvements

video,
audio,
picture,
img,
object {
	display: block;
	max-width: 100%;
	margin-bottom: 1rem;
}

// Content grouping

hr {
	border: 1px solid var(--text-muted-high);
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

// Paragraphs

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

// Headlines

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: variables.$font-family-sans;
	font-weight: 700;
	line-height: 1.2;
	margin-top: 1em;
	margin-bottom: 0.5rem;
}

h1 {
	font-size: variables.$font-size-step-4;
	@media (min-width: variables.$breakpoint-md) {
		font-size: variables.$font-size-step-5;
	}
}

h2 {
	font-size: variables.$font-size-step-3;
	@media (min-width: variables.$breakpoint-md) {
		font-size: variables.$font-size-step-4;
	}
}

h3 {
	font-size: variables.$font-size-step-2;
	@media (min-width: variables.$breakpoint-md) {
		font-size: variables.$font-size-step-3;
	}
}

h4 {
	font-size: variables.$font-size-step-1;
	@media (min-width: variables.$breakpoint-md) {
		font-size: variables.$font-size-step-2;
	}
}

h5 {
	font-size: variables.$font-size-step-0;
	@media (min-width: variables.$breakpoint-md) {
		font-size: variables.$font-size-step-1;
	}
}

h6 {
	font-size: variables.$font-size-step--1;
	@media (min-width: variables.$breakpoint-md) {
		font-size: variables.$font-size-step-0;
	}
}

// Lists

ol,
ul {
	padding-left: 2rem;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

dd {
	margin-top: 0;
	margin-left: 2.5rem;
	margin-bottom: 0.5rem;
}

// Blockquote

blockquote {
	margin: 0 2.5rem 1rem;
}

// Mark

mark {
	color: var(--black);
	background-color: var(--yellow);
	padding: 0 0.15em;
}

// Links

a {
	font-weight: 700;
	text-decoration: underline;
	color: var(--primary);
	transition: color variables.$duration-short;

	&:hover,
	&:focus,
	&.active {
		color: var(--primary-contrast-alt);
	}

	code,
	kbd,
	samp {
		// Reset to match link styling, as that is more important semantically
		padding: 0;
		background-color: inherit;
	}
}

// Code

pre,
code,
kbd,
samp {
	font-family: variables.$font-family-monospace;
}

pre {
	overflow: auto;
	margin-top: 0;
	margin-bottom: 1rem;
	padding: 0.5rem 0.75rem;
	border: 1px solid var(--text-muted-high);
}

code,
kbd,
samp {
	background-color: var(--background-contrast);
	padding: 0 0.15em;
}

pre code,
pre samp,
pre kbd {
	background-color: transparent; // Ensure `pre` background color is used.
	padding: initial;
}

// Tables

table {
	border-collapse: collapse;
	caption-side: bottom;
	margin-bottom: 1rem;
}

caption {
	padding-top: 0.25rem;
}

td,
th {
	padding: 0.5rem;
	border: 1px solid var(--text-muted-high);
}

// Figures

figure {
	margin: 0 0 1rem;
}

// Utilities

// From https://github.com/twbs/bootstrap/blob/51535cd95ac8eb5746e19c057aeabdbcafef3a8b/scss/mixins/_visually-hidden.scss
//
// Hide content visually while keeping it accessible to assistive technologies
//
// See: https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
// See: https://kittygiraudel.com/2016/10/13/css-hide-and-seek/
.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
