@use "~@fontsource/noto-sans/scss/mixins" as notoSans;
@use "~@fontsource/noto-serif/scss/mixins" as notoSerif;
@use "~@fontsource/fira-code/scss/mixins" as firaCode;


// Only use latin range as we do not really use anything else
$unicodeMap: (latin: map-get(notoSans.$unicodeMap, latin));

@include notoSans.fontFace($weight: 400, $style: normal, $unicodeMap: $unicodeMap);
@include notoSans.fontFace($weight: 400, $style: italic, $unicodeMap: $unicodeMap);
@include notoSans.fontFace($weight: 700, $style: normal, $unicodeMap: $unicodeMap);
@include notoSans.fontFace($weight: 700, $style: italic, $unicodeMap: $unicodeMap);


@include notoSerif.fontFace($weight: 400, $style: normal, $unicodeMap: $unicodeMap);
@include notoSerif.fontFace($weight: 400, $style: italic, $unicodeMap: $unicodeMap);
@include notoSerif.fontFace($weight: 700, $style: normal, $unicodeMap: $unicodeMap);
@include notoSerif.fontFace($weight: 700, $style: italic, $unicodeMap: $unicodeMap);

// https://fonts.google.com/specimen/Fira+Code
@include firaCode.fontFaceCustom();

