@import "../variables.page";
@import "../variables.bootstrap";

body {
    background: repeating-linear-gradient(
            45deg,
            $gray-400 0,
            $gray-400 5%,
            $gray-200 0,
            $gray-200 50%
        )
        0 / 10px 10px;
}

//We dont use the bootstrap grid because its bundled with the grid
.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: map-get($container-max-widths, xl);
    margin-right: auto;
    margin-left: auto;
}

.hr {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;

    &.hr--sm {
        width: 3rem;
    }
}

ol,
ul {
    list-style-type: square;
}
