@import "../../../node_modules/bootstrap/scss/mixins/buttons";
@import "../variables.page";

.btn {
    border: 0;

    .fal,
    .fas,
    .fab {
        margin-right: 6px;
    }

    &.btn-primary--lg {
        width: 100%;
    }
}

.btn-social-codepen {
    @include button-variant($social-codepen, $social-codepen);
}

.btn-social-github {
    @include button-variant($social-github, $social-github);
}
