@use "../mixins/transition" as *;
@use "../variables" as variables;

/**
 * Font styling
 */

body {
    font-family: variables.$font-family-serif;
    font-size: 18px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: variables.$font-family-sans;
    font-weight: 700;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.65em;
}

h3 {
    font-size: 1.45em;
}

h4 {
    font-size: 1.275em;
}

h5 {
    font-size: 1.15em;
}

h6 {
    font-size: 1em;
}

mark {
    color: var(--black);
    background-color: var(--secondary);
}

pre,
code,
kbd,
samp {
    font-family: variables.$font-family-monospace;
    color: var(--text-color);
    background-color: var(--background-contrast-color);
}

code,
kbd,
samp,
mark {
    padding: 0 0.15em;
}

a {
    color: var(--primary);
    @include transition(color);

    &:hover,
    &:focus {
        color: var(--primary-contrast);
    }
}
