<div class="container section section-margin index">
    <% page.posts.each(function(post){ %>
        <%- partial('_partial/article', { post: post, index: true }) %>
    <% }) %>
    <%- partial('_partial/component/pagination'); %>
</div>

