<div class="index">
    <% page.posts.each((post)=>{ %>
        <%- partial('_partial/article', { post: post, index: true }) %>
    <% }); %>

    <%- partial('_partial/component/pagination'); %>
</div>

