.about-main {
    margin-bottom: 40px;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-img {
        border-radius: 50%;
        max-width: 300px;
        height: auto;
        width: 100%;
        margin-bottom: 30px;
    }
}

.skill-section {
    &:not(:last-child) {
        margin-bottom: 22px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        padding: 0;
        @include screen(min, sm) {
            flex-direction: row;
        }
        li.skill {
            margin-bottom: 32px;
            padding-left: 8px;
            padding-right: 8px;
            @include screen(min, sm) {
                width: 33.333%;
                margin-bottom: 22px;
            }
            ul {
                text-align: center;
                padding: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.about-experience {
    margin-bottom: 32px;
    ul {
        padding: 0;
        margin: 36px auto 0;
        text-align: center;
        list-style: none;
        li {
            margin-bottom: 24px;
        }
    }
}

.about-main,
.about-skills {
    @include screen(min, md) {
        margin-bottom: 52px;
    }
}

.about {
    h2,
    h3,
    h4 {
        text-align: center;
    }
    h3 {
        margin-bottom: 26px;
    }
}
