.projects {
    max-width: 640px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    min-width: 50%;
    margin-bottom: 32px;
    ul li {
        .fa {
            margin-left: 6px;
        }
    }
}
