@import "../mixins/screen";

.projects p {
    text-align: center;
}

.projects-wrapper {
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include screen(min, md) {
        flex-direction: row;
    }
}

.category {
    padding: 0.5rem 2rem 0.5rem 2rem;
}
