.project {
    min-width: 280px;
    width: 25%;
    margin-bottom: 32px;
    padding-left: 8px;
    padding-right: 8px;

    .project-headline {
        .fa {
            margin-right: 8px;
        }
    }

    ul li {
        .fa {
            margin-left: 6px;
        }
    }
}
