@use "../variables" as variables;

.article {
	&__title {
		margin-top: 0;
	}

	&__meta {
		font-size: variables.$font-size-step--1;
		color: var(--text-muted);
		display: flex;
		flex-flow: column;
		gap: 0.25rem;
		margin-bottom: 0.25rem;
	}

	&--full .article__meta {
		margin-bottom: 1rem;
	}

	@media (min-width: variables.$breakpoint-sm) {
		&--full .article__title {
			font-size: variables.$font-size-step-6;
		}

		&__meta {
			flex-flow: row;
			gap: 1.5rem;
		}
	}

	@media (min-width: variables.$breakpoint-md) {
		&--full .article__title {
			font-size: variables.$font-size-step-7;
		}
	}
}
