.article {
    margin-bottom: 30px;
    background-color: $white;
    padding: 15px;
    @include screen(min, md) {
        padding: 20px;
    }
    &.article-full {
        padding-top: 30px;
    }
    .article-tags {
        margin: 4px 0;
    }
    img {
        max-width: 100%;
    }
}
