.article {
    margin: 20px 0;
    background-color: $white;
    padding: 15px;
    @include screen(min, md) {
        padding: 20px;
    }

    &.article-full {
        margin-top: 0;
        padding-top: 30px;
    }

    .article-header {
        .article-tags {
            margin: 10px 0;
        }
    }

    .article-content {
        h2 {
            margin-top: 0;
        }
    }
}
