/*.breadcrumb {
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 10px;
    background-color: transparent;

    .breadcrumb-item {
        float: none;
        display: inline-block;
        padding-left: 2px;
        padding-right: 2px;

        a {
            color: $white;
        }
    }
}*/
