pre {
    padding: 15px;
    color: $white;
    background-color: $gray-800;
    @include screen(min, md) {
        padding: 20px;
    }
}

.hljs-attr,
.hljs-attribute {
    color: $white;
}

.hljs-comment {
    color: $gray-500;
}

.hljs-subst,
.hljs-template-tag,
.hljs-tag {
    color: $gray-300;
}

.hljs-keyword,
.hljs-name,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-tag,
.hljs-type {
    color: theme-color("primary");
}

.hljs-addition,
.hljs-meta,
.hljs-quote {
    color: theme-color("dark");
}

.hljs-number,
.hljs-template-variable,
.hljs-variable {
    color: theme-color("info");
}

.hljs-literal,
.hljs-title {
    color: theme-color("warning");
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-bullet,
.hljs-deletion,
.hljs-link,
.hljs-string,
.hljs-symbol {
    color: theme-color("danger");
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
