@import "../variables.page";
@import "../mixins/screen";

samp,
kbd,
code,
pre {
    font-size: 1em;
    color: $black;
}

.highlight {
    background-color: $gray-900;
    overflow-x: auto;

    pre {
        color: $white;
        padding: 0.75rem;
        @include screen(min, md) {
            padding: 0.5rem;
        }
    }

    .gutter,
    .code {
        pre {
            margin-bottom: 0;
        }
    }

    .gutter {
        background-color: $gray-700;

        pre {
            background-color: $gray-800;
        }
    }

    .code {
        color: #abb2bf;

        pre {
            padding-left: 0.75rem;
        }

        .comment,
        .quote {
            color: #5c6370;
            font-style: italic;
        }

        .doctag,
        .keyword,
        .formula {
            color: #c678dd;
        }

        .section,
        .name,
        .selector-tag,
        .deletion,
        .subst {
            color: #e06c75;
        }

        .literal {
            color: #56b6c2;
        }

        .string,
        .regexp,
        .addition,
        .attribute,
        .meta-string {
            color: #98c379;
        }

        .built_in,
        .class .title {
            color: #e6c07b;
        }

        .attr,
        .variable,
        .template-variable,
        .type,
        .selector-class,
        .selector-attr,
        .selector-pseudo,
        .number {
            color: #d19a66;
        }

        .symbol,
        .bullet,
        .link,
        .meta,
        .selector-id,
        .title {
            color: #61aeee;
        }

        .emphasis {
            font-style: italic;
        }

        .strong {
            font-weight: bold;
        }

        .link {
            text-decoration: underline;
        }
    }
}
