header {
    .navbar-wrapper {
        margin-bottom: 60px;

        .navbar {
            background-color: $brand-primary;
            padding: 0;

            .navbar-brand,
            .navbar-toggler {
                color: $gray-lightest;
                @include hover-focus-active {
                    color: $white;
                }
            }

            .navbar-toggler {
                padding: 14px 0 14px 14px;
            }

            .navbar-nav {
                @include screen(max,sm) {
                    clear: both;
                }

                .nav-item {
                    font-size: 17px;
                    margin-left: 0;
                    position: relative;

                    &.active {
                        .nav-link {
                            color: $white;
                            background-color: $brand-primary-dark;
                        }
                    }

                    .nav-link {
                        color: $gray-lightest;
                        padding-top: 11px;
                        padding-bottom: 11px;
                        @include screen(max,sm) {
                            margin-left: -1rem;
                            margin-right: -1rem;
                            padding-left: 1rem;
                            padding-right: 1rem;
                        }
                        @include screen(min,sm) {
                            margin: 0;
                            padding-left: 1rem;
                            padding-right: 1rem;
                        }
                        @include hover-focus-active {
                            color: $white;
                            background-color: $brand-primary-dark;
                        }
                    }
                }
            }
        }
    }
}
