.list {
    list-style: none;
    padding: 0;
    border: 1px solid $gray-lighter;
    border-bottom: 0;
    .list-item {
        background-color: #fff;
        width: 100%;
        border-bottom: 1px solid $gray-lighter;
        overflow: hidden;
        > div {
            line-height: 50px;
            float: left;
        }
        .item-content {
            width: calc(100% - 100px);
            .item-text {
                width: 100%;
                border: 0;
                @include transition(color);
                @include hover-focus-active() {
                    color: $gray-light;
                    outline: none;
                };
            }
        }
        .item-actions {
            width: 100px;
            .item-delete,
            .item-move {
                float: right;
                padding: 0 7px;
                .fa {
                    color: $gray-lighter;
                    cursor: pointer;
                    @include transition(color);
                    @include hover-focus-active() {
                        color: $gray-light;
                        text-decoration: none;
                    };
                }
            }
        }
    }
}
