.navbar {
    background-color: theme-color("primary");
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-toggler {
    margin: 8px 0;
    padding: 0;
    border: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    @include screen(min, md) {
        display: none;
    }
    .menu-bar {
        display: block;
        width: 24px;
        height: 2px;
        background-color: $white;
        @include transition(#{"transform, height"});
    }
    &.collapsed {
        .menu-bar {
            &:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
            &:nth-child(2) {
                height: 0px;
            }
            &:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    .nav-item {
        &.active {
            .nav-link {
                color: $white;
                background-color: theme-color("dark");
            }
        }
        .nav-link {
            margin-left: -1rem;
            margin-right: -1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            @include transition(background-color);
            @include hover-focus-active {
                background-color: theme-color("dark");
            }
            @include screen(min, md) {
                margin: 0;
            }
        }
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
