.tag {
    padding: 5px 10px;
    display: inline;
    background-color: $brand-primary;
    border: 0;
    font-weight: normal;
    &.tag-dark {
        background-color: $brand-primary-dark;
    }
    @include hover-focus-active {
        border: 0;
        color: $white;
        background-color: $link-hover-color;
    }
}
