.badge {
    padding: 5px 10px;
    display: inline;
    background-color: $brand-primary;
    font-weight: normal;
    font-size: 80%;
    &.badge-dark {
        background-color: $brand-primary-dark;
    }
    @include hover-focus-active {
        background-color: $link-hover-color;
    }
}
