<div class="container">
    <footer class="footer">

        <p class="footer__copy">
            &copy; <%= date(new Date(), "YYYY"); %> <%= config.author; %><br>
        </p>

        <p class="footer__tech">
            Source code available at GitHub: <a
                    href="https://github.com/FelixRilling/rilling.dev" target="_blank">Contents</a>, <a
                    href="https://github.com/FelixRilling/rilling.dev_theme" target="_blank">Theme</a>.
            <br>
            This site makes use of open source components. A full list can be found
            in the repositories linked above. Licenses (if supported) can be found <a
                    href="<%= url_for("licenses.txt") %>">here</a>.
        </p>

    </footer>
</div>

