<div class="container">
    <footer class="footer">
        <p class="footer__content">
            <span class="footer__copy">
                &copy; <%= date(new Date(), "YYYY"); %> <%= config.author; %><br>
            </span>
            <span class="footer__tech">
                           Source code available at GitHub: <a
                        href="https://github.com/FelixRilling/rilling.dev" target="_blank"
                        rel="noreferrer">Contents</a>,
            <a href="https://github.com/FelixRilling/rilling.dev_theme" target="_blank"
               rel="noreferrer">Theme</a>.
            <br>
            This site uses open source components. A full list can be found in the repositories linked above.
            </span>
        </p>
    </footer>
</div>

