<%
let title;
if (is_home()) {
    title = "Blog";
} else if (is_archive() || is_tag()) {
    title = "Archive";
} else if (page.title) {
    title = page.title;
} else {
    throw new Error("No Title found!");
}

let titleLength = "short";
if (title.length > 12) {
    titleLength = "medium";
}
if (title.length > 24) {
    titleLength = "long";
}
_%>
<div class="presenter">
    <h1 class="presenter-title presenter-title-<%- titleLength %>"><%= title %></h1>

    <% if(is_post()){ %>
        <%- partial('component/meta', { post: page, presenter: true }) %>
    <% } %>
</div>
