@use "sass:color";
@use "../variables" as variables;

// Meant to be used on top of the regular anchor styling.
a.btn {
	font-family: variables.$font-family-sans;
	font-size: variables.$font-size-step--1;
	line-height: 1;
	text-decoration: none;

	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 1rem;

	border: variables.$border-width solid var(--primary);
	border-radius: variables.$border-radius;

	&:hover,
	&:focus,
	&.active {
		border-color: var(--primary-contrast-alt);
	}
}
