body {
	min-height: 100vh;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	
	display: grid;
	justify-content: center;
	grid-template-rows: min-content 1fr min-content;
	grid-template-columns: minmax(auto, 90ch);
	gap: 2rem;
}