{% extends 'partials/base.html.twig' %}

{% block presenter %}
    {% include 'partials/presenter.html.twig' with {'page': page} %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section section-margin" itemprop="mainContentOfPage">
            <h2>Felix Rilling</h2>
            <h3>Web Developer</h3>
            {{page.content}}
        </div>
        {% include 'modular/social.html.twig' %}
    </div>
{% endblock %}
