{% extends 'partials/base.html.twig' %}

{% block presenter %}
    {% include 'partials/presenter.html.twig' with {'page': page} %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section" itemprop="specialty">
            {{ page.content }}
            <!--<canvas class="graph" id="graphSkills" width="400" height="400"></canvas>-->
        </div>
    </div>
    {% include 'modular/social.html.twig' %}
{% endblock %}
