{% extends 'partials/base.html.twig' %}

{% block presenter %}
    {% include 'partials/presenter.html.twig' with {'page': page} %}
{% endblock %}

{% block main %}
    <div class="container">
        <section class="section section-margin" itemprop="mainContentOfPage">
            {{page.content}}
            <!--<canvas class="graph" id="graphSkills" width="400" height="400"></canvas>-->
        </section>
        {% include 'modular/social.html.twig' %}
    </div>
{% endblock %}
