{% extends 'partials/base.html.twig' %}

{% block presenter %}
    {% include 'partials/presenter.html.twig' with {'page': page} %}
{% endblock %}

{% block main %}
    <div class="section">
        {{ page.content }}
    </div>
    {% include 'modular/social.html.twig' %}
{% endblock %}
