{% embed 'partials/base.html.twig' %}
    {% set collection = page.collection() %}
    {% block presenter %}
        {% include 'partials/presenter.html.twig' with {'page': page} %}
    {% endblock %}

    {% block main %}
        <div class="container">
            <div class="section section-margin" itemprop="mainContentOfPage">
                {% for child in collection %}
                    {% if child.published and child.visible %}
                        {% include 'partials/blog_item.html.twig' with {'blog': page, 'page': child, 'truncate': true} %}
                    {% endif %}
                {% endfor %}
            </div>
            {% if config.plugins.pagination.enabled and collection.params.pagination %}
                {% include 'modular/pagination.html.twig' with {'base_url': page.url, 'pagination': collection.params.pagination} %}
            {% endif %}
        </div>
    {% endblock %}
{% endembed %}
