{% extends 'partials/base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="section section-margin" itemprop="mainContentOfPage">
            <div class="error">
                <h1>Error 404</h1>
                <p>This page doesn't exist.</p>
                <a href="{{url("./",true)}}" class="btn btn-primary btn-centered">Go Back</a>
            </div>
        </div>
    </div>
{% endblock %}
