{% embed 'partials/base.html.twig' %}
    {% block presenter %}
        {% include 'partials/presenter.html.twig' with {'page': page} %}
    {% endblock %}

    {% block main %}
        <div class="container">
            <div class="section" itemprop="mainContentOfPage">
                {% include 'partials/blog_item.html.twig' with {'blog': page.parent, 'truncate': false, 'full': true} %}
            </div>
            {% include 'modular/comments.html.twig' with {'page': page} %}
        </div>
    {% endblock %}
{% endembed %}
