{% embed 'partials/base.html.twig' %}

    {% block presenter %}
        {% include 'partials/presenter.html.twig' with {'page': page} %}
    {% endblock %}

    {% block main %}
        <div class="container">
            <div class="section" itemprop="mainContentOfPage">
                <article class="article article-full" itemscope itemtype="http://schema.org/TechArticle">
                    {% include 'partials/blog_item.html.twig' with {'blog': page.parent, 'truncate': false, 'full': true} %}
                </article>
            </div>
            {% include 'modular/comments.html.twig' with {'page': page} %}
        </div>
    {% endblock %}

{% endembed %}
