{% macro meta(page) %}
{%- if page.date %}
<p>
    Published: <time datetime="{{ page.date | date(format='%F') }}">{{ page.date | date(format='%F') }}</time>
</p>
{%- endif %}
{%- if page.updated %}
<p>
    Last updated: <time datetime="{{ page.updated | date(format='%F') }}">{{ page.updated | date(format='%F') }}</time>
</p>
{%- endif %}
{% endmacro meta %}

{% macro page_in_list(page) %}
<article class="article">
    <header>
        <h2 class="article__title">
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </h2>
        <div class="article__meta">{{ self::meta(page=page) }}</div>
    </header>
    {%- if page.summary %}
    <div class="article__content">
        {{ page.summary | safe }}
        <a href="{{ page.permalink | safe }}">Read '{{ page.title }}'</a>
    </div>
    {%- endif %}
</article>
{% endmacro page_in_list %}