@use "../mixins" as mixins;
@use "../variables" as variables;

.article {
    &__header {
        &__title {
            font-size: 3em;
            margin-top: 0;
            margin-bottom: 0.75rem;

            @include mixins.screen-min-width(variables.$breakpoint-sm) {
                font-size: 5em;
            }
        }

        &__meta {
            font-size: variables.$font-size-sm;
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;
            color: var(--text-muted);
            gap: 0.5rem;

            > p {
                margin-bottom: 0;
            }

            @include mixins.screen-min-width(variables.$breakpoint-sm) {
                flex-direction: row;
                gap: 1.5rem;
            }
        }
    }

    &--excerpt {
        .article__header {
            &__title {
                font-size: 2em;
            }

            &__meta {
                margin-bottom: 0.5rem;
                @include mixins.screen-min-width(variables.$breakpoint-sm) {
                    margin-bottom: 0.25rem;
                }
            }
        }
    }
}
