@use "./../mixins/transition" as *;
@use "./../variables" as variables;

.btn {
    font-family: variables.$font-family-sans;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;

    display: inline-block;
    padding: 0.625rem 1rem;
    cursor: pointer;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: variables.$border-radius;

    @include transition(#{background-color, color});

    &:hover,
    &.hover {
        text-decoration: none;
    }

    &:disabled,
    &.disabled {
        opacity: 0.65;
        pointer-events: none;
        cursor: not-allowed;
    }

    &-primary {
        color: var(--text-contrast-high);
        background-color: var(--primary);

        &:hover,
        &.hover {
            color: var(--text-contrast-high);
            background-color: var(--primary-contrast-alt);
        }

        &:focus,
        &.focus {
            color: var(--text-contrast-high);
            background-color: var(--primary-contrast-alt);
        }
    }
}
