@use "./../mixins/transition" as *;
@use "./../variables" as variables;

.btn {
    font-family: variables.$font-family-sans;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;

    display: inline-block;
    padding: 0.625rem 1rem;
    cursor: pointer;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    border: none;
    border-radius: variables.$border-radius;
    background-color: var(--gray-700);
    @include transition(#{background-color, box-shadow});

    &:not(.disabled) {
        &:hover,
        &:focus {
            text-decoration: none;
            color: var(--white);
            background-color: var(--gray-800);
        }

        &:focus {
            outline: 0; /* Usually removing the outline is bad, but we use box-shadow instead */
            box-shadow: 0 0 0 0.2rem var(--gray-500);
        }
    }

    &:disabled,
    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.5;

        color: var(--gray-100);
    }

    &-primary {
        color: var(--white);
        background-color: var(--primary);

        &:not(.disabled) {
            &:hover,
            &:focus {
                background-color: var(--primary-contrast);
            }

            &:focus {
                box-shadow: 0 0 0 0.2rem var(--primary);
            }
        }

        &:disabled,
        &.disabled {
            color: var(--text-contrast-color);
        }
    }
}
