
pre {
    border: 1px solid var(--text-muted-high);
}

pre > code {
    background-color: transparent; // Ensure `pre` background color is used.
}

/**
 * Highlight.js support
 */

pre {
    color: var(--highlight-foreground);
    background: var(--highlight-background);
}

.hljs {

    &-comment,
    &-quote {
        color: var(--highlight-comment);
    }

    &-variable,
    &-template-variable,
    &-tag,
    &-name,
    &-selector-id,
    &-selector-class,
    &-regexp,
    &-deletion {
        color: var(--highlight-red);
    }

    &-number,
    &-built_in,
    &-literal,
    &-type,
    &-params,
    &-meta,
    &-link {
        color: var(--highlight-orange);
    }

    &-attribute {
        color: var(--highlight-yellow);
    }

    &-string,
    &-symbol,
    &-bullet,
    &-addition {
        color: var(--highlight-green);
    }

    &-title,
    &-section {
        color: var(--highlight-blue);
    }

    &-keyword,
    &-selector-tag {
        color: var(--highlight-purple);
    }

    &-emphasis {
        font-style: italic;
    }

    &-strong {
        font-weight: bold;
    }
}
