@use "../variables" as variables;

.footer {
    font-family: variables.$font-family-sans;
    font-size: 0.825em;
    color: var(--text-muted);
    margin-top: 1.25rem;
    text-align: center;

    &__tech {
        @media print {
            display: none;
        }
    }
}
