@use "../mixins/screen-min-width" as *;
@use "../mixins/transition" as *;
@use "../variables" as variables;

.footer {
    font-family: variables.$font-family-sans;
    font-size: 0.85em;
    margin-top: 3rem;
    text-align: center;

    &__contact {
        font-style: normal;

        &__mail {
            font-style: italic;
        }
    }
}
