@import "../variables.bootstrap";

.meta {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 0.9em;

    &.meta-presenter {
        margin-bottom: 0;
        margin-top: 0.5rem;
        justify-content: center;
        color: $white;
    }

    .meta-date-published:after {
        content: "|";
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
}
