@use "../variables" as variables;

.navbar {
	font-family: variables.$font-family-sans;
	font-size: 0.9em;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 2rem;
	padding: 1.5rem 0;
	border-bottom: variables.$border-width solid var(--primary);

	@media print {
		display: none;
	}

	&__nav {
		list-style: none;
		display: flex;
		flex-flow: row;
		gap: 1rem;
		margin: 0;
		padding: 0;
	}

	&__title,
	&__nav__link {
		line-height: 1;
		text-decoration: none;
		display: block;
	}

	&__title {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	&__nav__link.active {
		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-underline-offset: 5px;
	}

	@media (min-width: variables.$breakpoint-sm) {
		font-size: 1em;

		&__nav {
			gap: 2rem;
		}
	}
}
