@use "../mixins/screen-min-width" as *;
@use "../mixins/transition" as *;
@use "../variables" as variables;

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
}
