@import "../../../node_modules/bootstrap/scss/functions";
@import "../variables.page";

.presenter {
    margin-top: 40px;
    padding-bottom: 10px;
    min-height: calc(8rem + 7vw);
    background-color: theme-color("primary");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presenter-title {
    text-align: center;
    max-width: 650px;
    color: $white;
    margin: 0;
}

.presenter-title,
.presenter-title-short {
    font-size: calc(2.75em + 2vw);
}

.presenter-title-medium {
    font-size: calc(1.75em + 2vw);
}

.presenter-title-long {
    font-size: calc(1em + 2vw);
}

.presenter-meta {
    text-align: center;
    color: $white;
    margin: 0.5rem 0;
}
