@use "../variables" as variables;

.skip-link {
    font-family: variables.$font-family-sans;
    line-height: 1;
    position: fixed;
    top: -50vh;
    left: 50%;
    padding: 0.25rem;
    transform: translateX(-50%);

    &:focus {
        top: 0;
    }
}
