@use "../mixins/screen-min-width" as *;
@use "../mixins/transition" as *;
@use "../variables" as variables;

.social {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    gap: 1rem;
}
