a{
  .transition();
}
.btn {
    background-color: @brand-primary;
    border: none;
    &:active,
    &:focus,
    &:hover {
        background-color: @brand-primary-light;
        border: none;
    }
    i {
        margin-right: 5px;
    }
}
