@mixin transition($type) {
    transition-property: $type;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

@mixin screen-min-width($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}
