@use "sass:color";
@use "./variables-highlight" as highlight;

//
// Color system
//
// See https://coolors.co/222222-c95497-45bac4-53dd6c-e16036-fcba04
//

$-black: #222222;
$-white: #ffffff;

$-gray-100: color.adjust($-black, $lightness: 90%);
$-gray-200: color.adjust($-black, $lightness: 80%);
$-gray-300: color.adjust($-black, $lightness: 70%);
$-gray-400: color.adjust($-black, $lightness: 60%);
$-gray-500: color.adjust($-black, $lightness: 50%);
$-gray-600: color.adjust($-black, $lightness: 40%);
$-gray-700: color.adjust($-black, $lightness: 30%);
$-gray-800: color.adjust($-black, $lightness: 20%);
$-gray-900: color.adjust($-black, $lightness: 10%);

$-pink: #c95497; // Primary

$-cyan: #45bac4; // Accent

$-red: #e16036; // Semantic: Error
$-yellow: #fcba04; // Semantic: Warn
$-green: #53dd6c; // Semantic: Success

$-pink-100: color.adjust($-pink, $lightness: 40%);
$-pink-200: color.adjust($-pink, $lightness: 30%);
$-pink-300: color.adjust($-pink, $lightness: 20%);
$-pink-400: color.adjust($-pink, $lightness: 10%);
$-pink-500: $-pink;
$-pink-600: color.adjust($-pink, $lightness: -10%);
$-pink-700: color.adjust($-pink, $lightness: -20%);
$-pink-800: color.adjust($-pink, $lightness: -30%);
$-pink-900: color.adjust($-pink, $lightness: -40%);

//
// Sizes
//
$breakpoint-xs: 340px;
$breakpoint-sm: 660px;
$breakpoint-md: 920px;
$breakpoint-lg: 1140px;
$breakpoint-xl: 1420px;

//
// Typography
//
$font-family-sans: "Noto Sans", sans-serif;
$font-family-serif: "Noto Serif", serif;
$font-family-monospace: "Fira CodeVariable", monospace;

$font-size-base: 18px;
$font-size-sm: 0.825em;

//
// Sizes
//
$border-radius: 3px;

//
// Exported Variables
//

@mixin variables-base {
	--black: #{$-black};
	--white: #{$-white};

	--gray-100: #{$-gray-100};
	--gray-200: #{$-gray-200};
	--gray-300: #{$-gray-300};
	--gray-400: #{$-gray-400};
	--gray-500: #{$-gray-500};
	--gray-600: #{$-gray-600};
	--gray-700: #{$-gray-700};
	--gray-800: #{$-gray-800};
	--gray-900: #{$-gray-900};

	--pink-100: #{$-pink-100};
	--pink-200: #{$-pink-200};
	--pink-300: #{$-pink-300};
	--pink-400: #{$-pink-400};
	--pink-500: #{$-pink-500};
	--pink-600: #{$-pink-600};
	--pink-700: #{$-pink-700};
	--pink-800: #{$-pink-800};
	--pink-900: #{$-pink-900};

	--cyan: #{$-cyan};

	--red: #{$-red};
	--yellow: #{$-yellow};
	--green: #{$-green};
}

@mixin variables-light {
	--background: var(--white);
	--background-contrast: var(--gray-100);

	--text: var(--gray-900);
	--text-muted: var(--gray-800);
	--text-muted-high: var(--gray-300);
	--text-contrast: var(--gray-200);
	--text-contrast-high: var(--gray-100);

	--primary-contrast-alt: var(--pink-700);
	--primary: var(--pink-600);
	--primary-contrast: var(--pink-500);

	@include highlight.variables-highlight-light;
}

@mixin variables-dark {
	--background: var(--black);
	--background-contrast: var(--gray-900);

	--text: var(--white);
	--text-muted: var(--gray-300);
	--text-muted-high: var(--gray-600);
	--text-contrast: var(--gray-900);
	--text-contrast-high: var(--black);

	--primary-contrast-alt: var(--pink-300);
	--primary: var(--pink-400);
	--primary-contrast: var(--pink-500);

	@include highlight.variables-highlight-dark;
}

@mixin variables-print {
	--background: transparent;
	--background-contrast: var(--gray-100);

	--text: var(--gray-900);
	--text-muted: var(--gray-700);
	--text-muted-high: var(--gray-300);
	--text-contrast: var(--white);
	--text-contrast-high: var(--white);

	--primary-contrast-alt: var(--gray-500);
	--primary: var(--gray-600);
	--primary-contrast: var(--gray-700);

	@include highlight.variables-highlight-light;
}
