// https://github.com/highlightjs/highlight.js/blob/main/src/styles/a11y-light.css
@mixin variables-highlight-light {
	--highlight-background: #fefefe;
	--highlight-foreground: #545454;
	--highlight-comment: #696969;
	--highlight-red: #d91e18;
	--highlight-orange: #aa5d00;
	--highlight-yellow: #aa5d00;
	--highlight-green: #008000;
	--highlight-blue: #007faa;
	--highlight-purple: #7928a1;
}

// https://github.com/highlightjs/highlight.js/blob/main/src/styles/a11y-dark.css
@mixin variables-highlight-dark {
	--highlight-background: #2b2b2b;
	--highlight-foreground: #f8f8f2;
	--highlight-comment: #d4d0ab;
	--highlight-red: #ffa07a;
	--highlight-orange: #f5ab35;
	--highlight-yellow: #ffd700;
	--highlight-green: #abe338;
	--highlight-blue: #00e0e0;
	--highlight-purple: #dcc6e0;
}
