// Color system

$white: #fff;
$gray-100: #fbfbfb;
$gray-200: #f9f9f9;
$gray-300: #e0e0e0;
$gray-400: #dedede;
$gray-500: #999999;
$gray-600: #777777;
$gray-700: #555555;
$gray-800: #3a3a3a;
$gray-900: #2f2f2f;
$black: #2a2a2a;

$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
);

$green: #83d356;
$green-dark: darken(desaturate($green, 10%), 20%);
$green-light: lighten($green, 10%);

$blue: #3fa7d6;
$red: #da4167;
$yellow: #f9a620;

$colors: (
    "blue": $blue,
    "red": $red,
    "yellow": $yellow,
    "green": $green,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800,
);

$primary: $green;
$secondary: $green-dark;
$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
);

$social-github: #586069;
$social-codepen: #1e1f26;
