@use "sass:color";
@use "./variables-highlight" as highlight;

//
// Color system
//
// See https://coolors.co/8f8b92-c95497-45bac4
//

$-black: #222123;
$-white: #fff;

$-gray-100: color.adjust($-black, $lightness: 90%);
$-gray-200: color.adjust($-black, $lightness: 80%);
$-gray-300: color.adjust($-black, $lightness: 70%);
$-gray-400: color.adjust($-black, $lightness: 60%);
$-gray-500: color.adjust($-black, $lightness: 50%);
$-gray-600: color.adjust($-black, $lightness: 40%);
$-gray-700: color.adjust($-black, $lightness: 30%);
$-gray-800: color.adjust($-black, $lightness: 20%);
$-gray-900: color.adjust($-black, $lightness: 10%);

$-pink: #c95497;
$-cyan: #45bac4;

$-pink-100: color.adjust($-pink, $lightness: 40%);
$-pink-200: color.adjust($-pink, $lightness: 30%);
$-pink-300: color.adjust($-pink, $lightness: 20%);
$-pink-400: color.adjust($-pink, $lightness: 10%);
$-pink-500: $-pink;
$-pink-600: color.adjust($-pink, $lightness: -10%);
$-pink-700: color.adjust($-pink, $lightness: -20%);
$-pink-800: color.adjust($-pink, $lightness: -30%);
$-pink-900: color.adjust($-pink, $lightness: -40%);

$-cyan-100: color.adjust($-cyan, $lightness: 40%);
$-cyan-200: color.adjust($-cyan, $lightness: 30%);
$-cyan-300: color.adjust($-cyan, $lightness: 20%);
$-cyan-400: color.adjust($-cyan, $lightness: 10%);
$-cyan-500: $-cyan;
$-cyan-600: color.adjust($-cyan, $lightness: -10%);
$-cyan-700: color.adjust($-cyan, $lightness: -20%);
$-cyan-800: color.adjust($-cyan, $lightness: -30%);
$-cyan-900: color.adjust($-cyan, $lightness: -40%);

//
// Sizes
//
$breakpoint-xs: 340px;
$breakpoint-sm: 660px;
$breakpoint-md: 920px;
$breakpoint-lg: 1140px;
$breakpoint-xl: 1420px;

//
// Primary variables
//
:root {
    /**
    * Colors
    */
    --black: #{$-black};
    --white: #{$-white};

    --gray-100: #{$-gray-100};
    --gray-200: #{$-gray-200};
    --gray-300: #{$-gray-300};
    --gray-400: #{$-gray-400};
    --gray-500: #{$-gray-500};
    --gray-600: #{$-gray-600};
    --gray-700: #{$-gray-700};
    --gray-800: #{$-gray-800};
    --gray-900: #{$-gray-900};

    --pink-100: #{$-pink-100};
    --pink-200: #{$-pink-200};
    --pink-300: #{$-pink-300};
    --pink-400: #{$-pink-400};
    --pink-500: #{$-pink-500};
    --pink-600: #{$-pink-600};
    --pink-700: #{$-pink-700};
    --pink-800: #{$-pink-800};
    --pink-900: #{$-pink-900};

    --cyan-100: #{$-cyan-100};
    --cyan-200: #{$-cyan-200};
    --cyan-300: #{$-cyan-300};
    --cyan-400: #{$-cyan-400};
    --cyan-500: #{$-cyan-500};
    --cyan-600: #{$-cyan-600};
    --cyan-700: #{$-cyan-700};
    --cyan-800: #{$-cyan-800};
    --cyan-900: #{$-cyan-900};

    --social-github: #586069;
    --social-codepen: #1e1f26;

    /**
    * Typography
    */
    --font-family-sans: "Noto Sans", sans-serif;
    --font-family-serif: "Noto Serif", serif;
    --font-family-monospace: "Fira Code", monospace;

    /**
    * Sizes
    */
    --border-radius: 3px;
}

//
// Dark/Light mode
//
@mixin variables-light {
    --background-color: var(--white);
    --background-contrast-color: var(--gray-100);
    --text-color: var(--gray-900);
    --text-contrast-color: var(--white);
    --text-muted-color: var(--gray-300);

    --primary: var(--pink-500);
    --primary-contrast: var(--pink-400);
    --secondary: var(--cyan-400);

    @include highlight.variables-highlight-light;
}

@mixin variables-dark {
    --background-color: var(--black);
    --background-contrast-color: var(--gray-900);
    --text-color: var(--white);
    --text-contrast-color: var(--black);
    --text-muted-color: var(--gray-600);

    --primary: var(--pink-400);
    --primary-contrast: var(--pink-500);
    --secondary: var(--cyan-400);

    @include highlight.variables-highlight-dark;
}

@mixin variables-print {
    --background-color: transparent;
    --background-contrast-color: var(--gray-100);
    --text-color: var(--gray-900);
    --text-contrast-color: var(--white);
    --text-muted-color: var(--gray-600);

    --primary: var(--gray-600);
    --primary-contrast: var(--gray-700);
    --secondary: var(--gray-300);

    @include highlight.variables-highlight-light;
}
